

.wrappall{
	border: 1px solid #bebfb9;
}

.wrappall .fieldset-wrapper{
	margin-right: auto;
	margin-left: auto;
}

.division{
width:30%;
height:120px;
float:left;
/*border: 1px solid grey;*/
/*padding: 10px;*/
margin-right: 10px;
}

.newline{
	float:none;
}

/*.label-inline div,*/
/*.label-inline label {*/
/*  display: inline-block;*/
/*  padding-right: 5px;*/
/*}*/
/* Fieldset contents always need to be rendered as block. */
/*.label-inline .fieldset-wrappall {*/
/*	display: inline-block;*/
/*}*/

/*.myline{*/
/*display: inline;*/
/*}*/
